<!DOCTYPE html>
<html>
<head>
    <title>{{ game['name'] }} - Lobby</title>
</head>
<body>
    <h1>{{ game['name'] }} - Lobby</h1>
    <h3>Game ID: {{ game['_id'] }}</h3>

    <h2>Players:</h2>
    <ul>
        {% for player in players %}
            <li>
                {{ player['username'] }},
                {{ player['color'] }} - {% if player['isReady'] %} Ready {% else %} Not Ready {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>Select Your Color:</h2>
    <form method="POST">
        <select name="color" required>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="purple">Purple</option>
        </select><br><br>

        <button type="submit">Join Lobby</button>
    </form>

    <form method="POST" action="{{ url_for('game.update_player_status', game_id=game['_id']) }}">
        <button type="submit">Toggle Ready Status</button>
    </form>

    <form method="POST" action="{{ url_for('game.leave_game', game_id=game['_id']) }}">
        <button type="submit">Leave Game</button>
    </form>
</body>
</html>

