{% extends 'base.html' %}

{% block title %}{{ game['name'] }} - Lobby{% endblock %}

{% block content %}
<h1>{{ game['name'] }} - Lobby</h1>
<h3>Game ID: {{ game['_id'] }}</h3>
<h2>Players:</h2>
<ul id="players-list">
    {% for player in players %}
    <li>
        {{ player['username'] }},
        {{ player['color'] }} - {% if player['isReady'] %} Ready {% else %} Not Ready {% endif %}
    </li>
    {% endfor %}
</ul>
<h2>Select Your Color:</h2>
<form method="POST">

    <select name="color" required>
        {% for color in available_colors %}
        <option value="{{ color }}">{{ color.capitalize() }}</option>
        {% endfor %}
    </select>
    <button type="submit">Join Lobby</button>
</form>

<form method="POST" action="{{ url_for('game.update_player_status', game_id=game['_id']) }}">
    <button type="submit">Toggle Ready Status</button>
</form>
<form method="POST" action="{{ url_for('game.leave_game', game_id=game['_id']) }}">
    <button type="submit">Leave Game</button>
</form>

<!-- Existing content -->
<form method="POST" action="{{ url_for('game.start') }}">
    <input name="game_id" type="hidden" value="{{ game['_id'] }}" />
    <button type="submit" id="start-game-button" style="display: none;">Start Game</button>
</form>

<script>
    const updateLobby = async () => {
        try {
            const res = await fetch("{{ url_for('game.lobby_stream', game_id=game['_id']) }}");
            if (!res.ok) {
                console.error("Failed to fetch lobby data.");
                return;
            }
            const data = await res.json();
            return data;
        } catch (error) {
            console.error("Error during lobby update:", error);
        }
    };

    const updateDom = (data) => {
        const playersList = document.querySelector("ul#players-list");
        playersList.innerHTML = ""; // Clear the current list

        // Populate the updated player list
        data.players.forEach(p => {
            const li = document.createElement("li");
            li.textContent = 
                `${p.username}, ${p.color} - ${p.isReady ? "Ready" : "Not Ready"}`;
            playersList.appendChild(li);
        });

        // Update the visibility of the Start Game button
        const startGameButton = document.getElementById("start-game-button");
        if (data.allReady) {
            startGameButton.style.display = "block";
        } else {
            startGameButton.style.display = "none";
        }
    };

    // Periodically fetch and update the lobby data
    const updateInterval = setInterval(async () => {
        const data = await updateLobby();
        if (data) {
            updateDom(data);
        }
    }, 1000); // Fetch every 1 second
</script>
{% endblock %}
